*{
    box-sizing: border-box;
}
body{
    text-align: right;
    text-decoration: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    font-weight: bold;
    margin: 0;
    padding-bottom: 50px;

}
.container-header{
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
}
header{
    width: 900px;
    height: 105px;
    margin: 0 auto;
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
   

}


.row-line-2{
    display: flex;
    border: solid;
    position: relative;
    
}
.row-line-1{
    display: flex;
    border: solid;
    align-items: center;
}
.search-line{
    width: 126px;
    height: 19px;
    padding: 0;
    border: 0 none;   
    text-align: right;
    border-top-right-radius: 10px;
}


.img-container-search{
    width: 19px;
    height: 19px;
    font-size: 12px;
}
.english-link{
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;

}
.english-link:hover{
    color: #005CA0;
    text-decoration: underline;
}

ul{
    display: flex;
    list-style: none;
    /* padding: 10px; */
    direction: rtl;
}
 /* li{
    text-align: -webkit-match-parent;
} */
.sep{
    margin: 0px 16px 0px 16px;
    width: 4px;
    height: 21px;
    background:url(img/menu_sep.png);
}
 a{
    text-decoration: none;
 }
 ul > li > a {
     font-size: 15px;
     color: white;
     height: 100%;
     
     
 }
 li > div > a {
    font-size: 15px;
     color: white;
     height: 22px;
     margin-bottom: 5px;
     margin-left: 5px;
 }
div > a {
    display: block;
}
.dropdown{
    position: relative;
    
}
.dropdown-content{
    display: none;
    position:absolute;
    width: max-content;
    z-index: 1;
    
     padding-top: 25px; 

    
}
.dropdown:hover > .dropdown-content {
    display: block; 
  }
  .dropdown >.dropdown-content {
    background: rgb(144,144,144);
 }
 .dropdown-content > a:hover  {
    color:#005CA0 ;
    text-decoration: underline;
    background-color: #BCBCBC;
    width: 100%;
    
 } 
 nav > ul > li > a:hover{
    color:#005CA0 ;
    text-decoration: underline;
 }
 /* logo */
 .img-logo-container{
     position:absolute;
     border: solid;     
     right: 0;
     width: 160px;
 }
 img[alt="paz_logo"]{
  width: 142px;
  margin-left: 18px;  
 }
/* main section */
 main{
     width: 900px;
     height: 589px;
     margin: 0 auto;
     margin-top: 30px;
     margin-bottom: 30px;
     padding-bottom: 30px;

}
.row-main-1{
    display: flex;    
    border: solid;
    direction: rtl;
}
.col-main-1{
     /* border: solid;  */
    margin-left: 10px;
    
    
}
.col-main-2{
    max-width: 0px 10px 0px 10px;
}
.col-main-3{
    margin-right: 10px;
   
}
.img-container-tab{
    border: solid;
    position: relative;
    width: 293px; 
}
.img-main-row-1{
    border-bottom-right-radius: 15px;
    display: block;
    width: 293px;
    height: 355px;

}
.content-on-img-row-1{
    width: 248px;
    height: 97px;
    padding: 10px;
    
    /* border: solid; */
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #767676;
    opacity: 0.8;

}
.content-on-img-row-1 > h3{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.content-on-img-row-1 > p{
    margin: 0;
    font-size:13px;
    color: white;
    font-weight:normal;
}
.content-on-img-row-1 > a{
    font-size: 13px;
    font-weight: normal;
    
    position: absolute;
    bottom: 2px;
    left: 10px;
    text-decoration: underline; 
    color: white;
    
}


.content-on-img-row-1 > a > span:hover {
    color:#005CA0;
    text-decoration: underline;
    /* display: inline; */
}
.read_more{
    position: relative;
    display: inline-block;
}
.read_more .img-top{
    display: none;
    position: absolute; 
    bottom: 3px;
    /* left: 0; */
    /* z-index: 99; */
}
.read_more:hover .img-top{
    display: inline;
}

/* row 2 main */

.h3-row2{
    font-size: 14px;
    color: #575757;
    
}

.col1-main-content-2{
    border: solid;
    height: 216px;
    width: 292px;
    margin-top: 18px;
    padding: 0px 24px 0px 24px;
    /* background-color: #EEEEEE;  */
    background: url(/img/small_cube_bg.png); 
}
.col1-main-content-3{
    border: solid;
    height: 216px;
    width: 292px;
    margin-top: 18px;
    position: relative; 
    /* background-color: #EEEEEE;  */
    background: url(/img/small_cube_bg.png); 
    padding-left: 24px;
    padding-right: 24px;
}
.map-img-container{
    position: absolute;
    left: 33px;
    top: 37px;
    width: 73px;
    height: 168px;
}
.map-img-container > img{
    width: 100%;
}
.more-info{
    text-align: left;
    border: solid;
    width: 250px;
    font-size: 13px;
    font-weight: normal;
    
}
.more-info > a > span{
    text-decoration: underline;
    color: #575757;  
}

.more-info > a > span:hover {
    color:#005CA0;
    
}
.isr-zone {
    font-size: 13px;
    font-weight: normal;
}
.isr-zone > a > span {
    text-decoration: underline;
    color: #575757;
}
.isr-zone > a > span:hover{
    color:#005CA0;

}
.footer-menu{
    width: 900px;
    height: 38px;
    margin: 0 auto;
    background: rgb(144,144,144);
    background: linear-gradient(360deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
    font-size: 14px;
    font-weight: normal;
    position: fixed;
    bottom: 0;
    right: 0px;
    left :0px;
}
.sep-footer{
    margin: 0 5px;
    color: white;
}
img[alt="fb_icon"]{
    
    position: absolute;
    right: 1px;
}
.footer-ul > li > a:hover{
    color: #005CA0;
    text-decoration: underline;
}
.li-red-text > a{
    color: red;
}
.li-red-text > a:hover{
    color: #005CA0;
    text-decoration: underline;
}
.footer-container{
    width: 100%;
    height: 38px;
    background: rgb(144,144,144);
    background: linear-gradient(360deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
    position: fixed;
     z-index: -1; 
    bottom: 0;
    right: 0px;
    left :0px;
}