*{
    box-sizing: border-box;
}
body{
    text-align: right;
    text-decoration: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    font-weight: bold;
    margin: 0;
    padding-bottom: 50px;

}
.container-header{
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
}
header{
    width: 900px;
    height: 105px;
    margin: 0 auto;
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
   

}


.row-line-2{
    display: flex;
    
    position: relative;
    
}
.row-line-1{
    display: flex;
    align-items: center;
}
.search-line{
    width: 126px;
    height: 19px;
    padding: 0;
    border: 0 none;   
    text-align: right;
    border-top-right-radius: 10px;
}


.img-container-search{
    width: 19px;
    height: 19px;
    font-size: 12px;
}
.english-link{
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;

}
.english-link:hover{
    color: #005CA0;
    text-decoration: underline;
}

ul{
    display: flex;
    list-style: none;
    /* padding: 10px; */
    direction: rtl;
}
 /* li{
    text-align: -webkit-match-parent;
} */
.sep{
    margin: 0px 16px 0px 16px;
    width: 4px;
    height: 21px;
    background:url(img/menu_sep.png);
}
 a{
    text-decoration: none;
 }
 ul > li > a {
     font-size: 15px;
     color: white;
     height: 100%;
     
     
 }
 li > div > a {
    font-size: 15px;
     color: white;
     height: 22px;
     margin-bottom: 5px;
     margin-left: 5px;
 }
div > a {
    display: block;
}
.dropdown{
    position: relative;
    
}
.dropdown-content{
    display: none;
    position:absolute;
    width: max-content;
    z-index: 1;
     padding-top: 25px; 

    
}
.dropdown-content > a{
    border-bottom: solid #BCBCBC 1px;
} 
.dropdown:hover > .dropdown-content {
    display: block; 
  }
  .dropdown >.dropdown-content {
    background: rgb(144,144,144);
 }
 .dropdown-content > a:hover  {
    color:#005CA0 ;
    text-decoration: underline;
    background-color: #BCBCBC;
    width: 100%;
    
 } 
header> div > nav{
    padding-top: 38px;
 }
 nav > ul > li > a:hover{
    color:#005CA0 ;
    text-decoration: underline;
 }
 /* logo */
 .img-logo-container{
     position:absolute;
     right: 0;
     width: 160px;
     padding-top: 11px;
 }
 img[alt="paz_logo"]{
  width: 142px;
  margin-left: 18px;  
 }
/* main section */
 main{
     width: 900px;
     height: 589px;
     margin: 0 auto;
     margin-top: 30px;
     margin-bottom: 30px;
     padding-bottom: 30px;

}
.row-main-1{
    display: flex;    
    direction: rtl;
}
.col-main-1{
    margin-left: 10px;
    
    
}
.col-main-2{
    max-width: 0px 10px 0px 10px;
}
.col-main-3{
    margin-right: 10px;
   
}
.img-container-tab{
    position: relative;
    width: 293px; 
}
.img-main-row-1{
    border-bottom-right-radius: 15px;
    display: block;
    width: 293px;
    height: 355px;

}
.content-on-img-row-1{
    width: 248px;
    height: 97px;
    padding: 10px;
    
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #767676;
    opacity: 0.8;

}
.content-on-img-row-1 > h3{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.content-on-img-row-1 > p{
    margin: 0;
    font-size:13px;
    color: white;
    font-weight:normal;
}
.content-on-img-row-1 > a{
    font-size: 13px;
    font-weight: normal;
    
    position: absolute;
    bottom: 2px;
    left: 10px;
    text-decoration: underline; 
    color: white;
    background: url(img/read_more_white.png)no-repeat;

    
}


.content-on-img-row-1 > a:hover {
    color:#005CA0;
    text-decoration: underline;
    /* display: inline; */
    background: url(img/read_more_blue.png)no-repeat;
}
.content-on-img-row-1 > a >span{
    padding-left: 10px;
}

.read_more{
    position: relative;
    display: inline-block;
}
.read_more .img-top{
    display: none;
    position: absolute; 
    bottom: 3px;
    /* left: 0; */
    /* z-index: 99; */
}
.read_more:hover .img-top{
    display: inline;
}

/* row 2 main */

.h3-row2{
    font-size: 14px;
    color: #575757;
    
}

.col1-main-content-2{
    height: 216px;
    width: 292px;
    margin-top: 18px;
    padding: 0px 24px 0px 24px;
    background-image: url(img/small_cube_bg.png); 
}
.col1-main-content-3{
    height: 216px;
    width: 292px;
    margin-top: 18px;
    position: relative; 
    /* background-color: #EEEEEE;  */
    background-image: url(img/small_cube_bg.png); 
    padding-left: 24px;
    padding-right: 24px;
}
.map-img-container{
    position: absolute;
    left: 33px;
    top: 37px;
    width: 73px;
    height: 168px;
}
.map-img-container > img{
    width: 100%;
}
.more-info{
    text-align: left;
    width: 250px;
    font-size: 13px;
    font-weight: normal;
    
}
.more-info > a {
    text-decoration: underline;
    color: #575757;
    display: inline-block;
    background: url(img/read_more_yellow.png)no-repeat ;  

}

.more-info > a :hover {
    text-decoration: underline;

    color:#005CA0;
    display: inline-block;
    background: url(img/read_more_blue.png)no-repeat ;

}
.more-info  > a > span {
    padding-left: 10px;
}
.isr-zone {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}
.isr-zone > a  {
    text-decoration: underline;
    color: #575757;
    display: inline-block;
    background: url(img/read_more_yellow.png)no-repeat ; 
}

.isr-zone > a:hover{
    display: inline-block;
    background: url(img/read_more_blue.png)no-repeat ;
    color:#005CA0;

}
.isr-zone > a > span {
    padding-left: 20px;
}
/* 
.isr-zone > a > span:hover{
    color:#005CA0;

} */
.footer-menu{
    width: 900px;
    height: 38px;
    margin: 0 auto;
    background: rgb(144,144,144);
    background: linear-gradient(360deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
    font-size: 14px;
    font-weight: normal;
    position: fixed;
    bottom: 0;
    right: 0px;
    left :0px;
}
.sep-footer{
    margin: 0 5px;
    color: white;
}
img[alt="fb_icon"]{
    position: absolute;
    right: 1px;
}
.footer-ul{
    
    padding-right: 20px;

}
.footer-ul > li > a:hover{
    color: #005CA0;
    text-decoration: underline;
}
.li-red-text > a{
    color: red;
}
.li-red-text > a:hover{
    color: #005CA0;
    text-decoration: underline;
}
.footer-container{
    width: 100%;
    height: 38px;
    background: rgb(144,144,144);
    background: linear-gradient(360deg, rgba(144,144,144,1) 42%, rgba(147,147,144,1) 88%, rgba(167,167,167,1) 92%);
    position: fixed;
     z-index: -1; 
    bottom: 0;
    right: 0px;
    left :0px;
}

/* contact page  */

main > .contact-row{
    display: flex;
    direction: rtl;
    padding-right: 0;
}

.contact-row > .contact-col-1{
    margin-left: 22px;
}
div > .contact-side-menu > ul > li {
    /* background: rgb(211,211,211);
    background: linear-gradient(360deg, rgba(211,211,211,1) 42%, rgba(232,232,224,1) 88%, rgba(253,253,253,1) 92%); */
    
    width: 122px;
     height: 36px; 
    /* background-image: url(img/side_menu_bg.png); */
    /* color: #5c5c5c; */
    font-size: 13px;
    line-height: 32px;
    background-image: url(img/side_menu_bg.png);
}
.contact-side-menu > ul > li > a{
   
    display: block;
    width: 122px;
    height: 36px;
    overflow: hidden;
    padding-right: 12px;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 4px;
    color: #5c5c5c;
    line-height: 32px;
    
}
.contact-side-menu > ul > li > a:hover{
    text-decoration: underline ;
    color:#005ca0 ;
}

/* contact-col-form */
.contact-col-form {
    float: right;
    margin-left: 24px;
    color: #72716d;
    font-size: 12px;
    width: 440px;
}
.contact-link > span > a{
    color: #72716d
}
.contact-link > span > a:hover {
    text-decoration: underline;
    color: #005CA0;
}
.contact-content > h1{
    
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid  #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
}
.contact-form-container{
    /* background-image: url(img/contact_form_bg.png);  */
    border: solid #cbcbcb;
    background: rgb(236,236,236); 
    background: linear-gradient(0deg, rgba(236,236,236,1) 29%, rgba(247,247,247,1) 88%, rgba(252,252,252,1) 92%);
    border-top-right-radius: 20px;
    width: 383px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    /* height: 293.067px; */
    

    /* background-image: url(img/contact_form_bg.png); */
}
.contact-form-container > h2{
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;

}
.contact-insn{
    display: block;
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    margin: 5px 0;
}
.contact-str{
    margin-left: 24px;
    color: #72716d;
    font-size: 12px;
    font-weight: normal;
    /* width: 440px; */
}
#contact-form{
   /* border: solid; */
    width: 100%;
    margin-left: 24px;
    color: #72716d;
    font-size: 12px;
    padding: 10px 10px 20px 10px;

}
form > div > label {
    color: #6d6d6d;
    display: inline-block;
    width: 75px;
    font-size: 12px;
    font-weight: normal;    
    margin-right: 30px;
}

form > div > input[type="text"] {
    width: 160px;
    padding: 3px;
    border: 1px solid #808992;
    margin-bottom: 5px;
}
form > div > input[type="email"]{
    width: 160px;
    padding: 3px;
    border: 1px solid #808992;
    margin-bottom: 5px;
}

.error{
    /* display: inline-block; */
    width: 75px;
    font-size: 12px;
    font-weight: normal;
    margin-right: 30px;
    color: red;
    display: none;
}
.was-submitted input:invalid ~ .error {
    /* visibility: visible; */
    display: initial;
  }


form > div > textarea{
    /* float: right; */
    color: #6d6d6d;
    width: 235px;
    height: 100px;
    padding: 3px;
    border: 1px solid #808992;
    margin-right: 32px;
}
form > button {
   margin-right: 231px;
   background: linear-gradient(to bottom, #0ca3e5, #0a9adb, #0891d2, #0688c8, #047fbe, #0479b7, #0372af, #026ca8, #0267a2, #02619b, #025c95, #02578f);
   border: none;
   border-top-right-radius: 3px;
   color: white;
}
#btn:hover {
    background: linear-gradient(to bottom, #fce41e, #fcda19, #fbd115, #fac712, #f9be11, #f9b810, #f8b20f, #f7ac0f, #f7a70d, #f6a20c, #f69d0b, #f5980b) !important;
    color:black;
}
.contact-col-3{
    /* border:solid; */
    width: 292px;
    height: 390px;
    margin-top: 36px;

}
.contact-small-container{
    width: 248px;
    height: 142px;
    padding: 18px 20px 15px;
    border: solid ;
    margin: auto auto;
    background: rgb(236,236,236); 
    background: linear-gradient(0deg, rgba(236,236,236,1) 29%, rgba(247,247,247,1) 88%, rgba(252,252,252,1) 92%); 
    border-top-right-radius: 20px;
    border: solid #cbcbcb;
    margin-bottom: 53px;
    margin-top: 10px;
    
}
.contact-small-container > h3 {
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
    margin-top: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid #cbcbcb;
}

.contact-small-container > p{
    margin-top: 0;
    font-size: 13px;
    color: #6d6d6d;
    font-weight: normal;
}
.contact-small-container > p > a {
    color: blue;
}

.contact-small-container > p > a:hover{
    text-decoration: underline;
    color: #005CA0 ;
}
/* .content{
    border: solid;
    width: 248px;
    height: 71.182px;
} */